.container .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.container .swiper.mySwiper2 {
  height: 80%;
  width: 100%;
}

.container .swiper.mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.container .swiper.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.container .swiper.mySwiper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.container .swiper .swiper-slide {
  background-size: cover;
  background-position: center;
}

.container .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}